{% for item in nagios_cfg_host_templates %}
define host {
    host_name              {{ item.host_name }}
{% if item.extra_params is defined %}
{% for extra_parameter in item.extra_params %}
    {{ extra_parameter.name }}    {{ extra_parameter.value }}
{% endfor %}
{% endif %}
}
{% endfor %}
