{% for item in nagios_cfg_services %}
    {% if
        item.host_name is not defined
        and service.hostgroup_name is not defined
    %}
        item.throwerror
    {% endif %}
define service {
    {% if item.name is defined %}
    name                   {{ item.name }}
    {% endif %}
    service_description    {{ item.service_description }}
    use                    {{ item.use }}
    {% if hosts is defined %}
    hosts                  {{ item.hosts }}
    {% endif %}
    {% if hostgroups is defined %}
    hostgroups             {{ item.hostgroups }}
    {% endif %}
    check_command          {{ item.check_command }}
}
{% endfor %}
