- name: Create directory structure
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
    state: directory
  loop:
    - { path: '{{ nerc_nrpe_prefix }}',
        owner: 'root',
        group: 'root',
        mode: '0755' }
    - { path: '{{ nerc_nrpe_prefix }}/etc',
        owner: 'root',
        group: 'root',
        mode: '0755' }
    - { path: '{{ nerc_nrpe_prefix }}/scripts',
        owner: 'root',
        group: 'root',
        mode: '0755' }
    - { path: '{{ nerc_nrpe_prefix }}/log',
        owner: '{{ nerc_nrpe_uid }}',
        group: '{{ nerc_nrpe_gid }}',
        mode: '0755' }

- name: Copy configs
  ansible.builtin.template:
    src: '{{ item }}.j2'
    dest: '{{ nerc_nrpe_prefix }}/{{item}}'
    owner: 'root'
    group: 'root'
    mode: '0644'
  notify: Restart NRPE
  loop:
    - 'nrpe.cfg'
    - 'etc/nerc-nrpe-commands.cfg'

- name: Install additional scrpts
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ nerc_nrpe_prefix }}/{{ item }}"
    owner: 'root'
    group: 'root'
    mode: '0755'
  loop:
    - "scripts/check_disk.py"

- name: SSL Tasks
  ansible.builtin.include_tasks:
    file: "ssl.yml"
  when: nrpe_ssl is defined and nrpe_ssl

- name: Install NRPE configs
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ nerc_nrpe_prefix }}/etc/{{ item }}"
    owner: 'root'
    group: 'root'
    mode: '0755'
  loop:
    "{{ nrpe_configs }}"

- name: Create NRPE container
  containers.podman.podman_container:
    name: "{{ nerc_nrpe_name }}"
    state: quadlet
    recreate: true
    image: "ghcr.io/nerc-project/nerc-nagios:{{ nerc_nagios_version }}"
    privileged: true
    network: host
    ipc: host
    pid: host
    quadlet_options:
      - |
        [Install]
        WantedBy=default.target
    generate_systemd:
      names: true
      new: true
      path: /etc/systemd/system
    volumes:
      - "{{ nerc_nrpe_prefix }}/nrpe.cfg:/etc/nagios/nrpe.cfg:ro"
      - "{{ nerc_nrpe_prefix }}/etc:/etc/nrpe.d:ro"
      - "{{ nerc_nrpe_prefix }}/scripts:/opt/scripts:ro"
      - "{{ nerc_nrpe_prefix }}/log:/var/log/nrpe:rw"
      - "/:/rootfs:ro"
      - "/var/run:/var/run:ro"
      - "/sys:/sys:ro"
    command: /usr/sbin/nrpe -c /etc/nagios/nrpe.cfg -f

- name: Enable NRPE systemd service
  ansible.builtin.systemd:
    name: "{{ nerc_nrpe_name }}"
    daemon_reload: true
    state: started
    enabled: true
