#!/usr/bin/env python

import subprocess
import sys
import re

check_disk_cmd = \
    "/usr/lib64/nagios/plugins/check_disk -w 25% -c 20% -W 50% -K 33%"
df_run = subprocess.run( ["df"],capture_output=True,text=True )

for part in df_run.stdout.split("\n"):
    match = re.match(
        r'^(\/dev\/\S+)\s+(\d+)\s+(\d+)\s+(\d+)\s+(\d+)\%\s+(\S+)$',part)
    if match:
        check_disk_cmd+=" -p "+match.group(6)

check_disk_cmd_list = check_disk_cmd.split(' ')
check_disk_run = subprocess.run( \
        check_disk_cmd_list,capture_output=True,text=True )
print(check_disk_run.stdout.rstrip())
sys.exit(check_disk_run.returncode)
